<div class="movie-details-container">
    <div class="detail-movie-img">
        <a href="/movies-list/{{movie.id}}"><img src="{{movie.smallPoster}}" alt="" 
                 width="300" height="400"> </a>
    </div>

    <div class="movie-details">
        <h3>{{movie.title}}</h3>
        Synopsis: {{movie.synopsis}}  
    </div>   

    <div>
        <button class="button button1">
            Buy ${{movie.price}}
        </button>
    
        <button class="button button2">
            Rent ${{movie.rentalPrice}}
        </button>
    </div>

    <div class="detail-movie-img-large">
          <a href="/movies-list/{{tvShow.id}}"><img src="{{tvShow.largePoster}}" alt="" 
          width="350" height="200"></a>
    </div>
</div>




