<div class="tvShow-details-container">
    <div class="detail-tvShow-img">
        <img src="/uploads/{{this.smallPoster}}" alt="{{this.title}}" style="max-width:90%;height:auto;"> 
    </div>

    <div class="tvShow-details">
        <h3>{{this.title}}</h3>
        Synopsis: {{this.synopsis}}
    </div> 

    <div class="rating">
        Rating: {{this.rating}}/5  
    </div>   


       <form action="/tvshows/add-to-cart" method="POST"> 
        <input type="hidden" name="_id" value="{{_id}}">
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="purchasePrice" value="{{purchasePrice}}">
        <input type="hidden" name="rentalPrice" value="{{rentalPrice}}">
        <input type="hidden" name="smallPoster" value="{{smallPoster}}">

        <input class="button button1" type="submit"
        value="Buy ${{this.purchasePrice}}">
        
         <input class="button button2" type="submit"
        value="Rent ${{this.rentalPrice}}">               
    </form>

    <div class="detail-tvShow-img-large">
        <img src="/uploads/{{this.largePoster}}" alt="{{this.title}}" style="max-width:100%;height:auto;"> 
    </div>
</div>