<div class="movie-details-container">
    <div class="detail-movie-img">
        <img src="/uploads/{{this.smallPoster}}" alt="{{title}}" style="max-width:85%;height:auto;"> 
    </div>

    <div class="movie-details">
        <h3>{{this.title}}</h3>
        <p>Synopsis: {{synopsis}}</p>
          
    </div>   

    <div class="rating">
        Rating: {{this.rating}}/5  
    </div>  

    <form action="/media/add-to-cart" method="POST"> 
        <input type="hidden" name="_id" value="{{_id}}">
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="purchasePrice" value="{{purchasePrice}}">
        <input type="hidden" name="rentalPrice" value="{{rentalPrice}}">
        <input type="hidden" name="smallPoster" value="{{smallPoster}}">


        <input class="button button1" type="submit"
        value="Buy ${{purchasePrice}}">
        
         <input class="button button2" type="submit"
        value="Rent ${{rentalPrice}}">               
    </form>

    <div class="detail-movie-img-large">
          <img src="/uploads/{{this.largePoster}}" alt="{{this.title}}" style="max-width:100%;height:auto;"> 
    </div>

</div>