 <h2>Update Movie</h2>
    <form method="POST" action="/movies/update/{{_id}}?method=PUT" enctype="multipart/form-data">

        <label>Synopsis</label>
        <input type="text" name="synopsis" id="synopsis" value="{{synopsis}}"> <br><br>

        <label>Rating</label>
        <input type="text" name="rating" id="rating" value="{{rating}}"> <br><br>

        <label>Purchase Price</label>
        <input type="text" name="purchasePrice" value="{{purchasePrice}}"> <br><br>

        <label>Rental Price</label>
        <input type="text" name="rentalPrice" value="{{rentalPrice}}"> <br><br>

        <img src="/uploads/{{largePoster}}" alt="{{largePoster}}" width="350" height="200">

        <label>Update Large Poster Upload</label>
        <input type="file" name="largePoster" id="largePoster" value="{{largePoster}}"><br><br>

        <input type="submit" value="Update Movie">
    </form>

